@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800&display=swap");

.container-fluid {
  display: grid;
  align-items: center;
  justify-content: center;
  background: #000;
  margin-top: 40px;
}
*::-webkit-scrollbar {
  display: none;
}
.cart {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  margin: 50px;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
}
.row1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#ProductImg {
  margin-bottom: 25px;
  transition: 0.4s;
}
.price {
  margin-bottom: 15px;
}
.price span:first-child {
  font-size: 30px;
  font-weight: 700;
  margin-right: 10px;
}
.price span:last-child {
  color: rgb(117, 117, 117);
  text-decoration: line-through;
  font-size: 19px;
}
.reviews {
  display: flex;
  margin: 16px 0;
}
.reviews p {
  font-size: 15px;
  color: #777;
  margin: 0;
  margin-left: 8px;
  line-height: 19px;
}
.reviews i {
  color: #000;
}
.product-title {
  font-size: 35px;
  font-weight: 700;
  font-style: italic;
  color: #000;
}
.product-inf {
  margin-top: 20px;
}

.custom-btn {
  background: #000;
  color: #fff;
  display: block;
  width: 200px;
  text-align: center;
  font-size: 16px;
  border-radius: 25px;
  padding: 10px;
  transition: 0.3s;
  font-weight: 500;
  margin-top: 20px;
}
.custom-btn:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.88;
}

.buttons .row .col-md-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .product-title {
    margin-top: 65px;
  }
  .cart {
    padding: 25px;
  }
  * {
    text-align: center;
  }
  .reviews {
    display: flex;
    margin: 16px 0;
    text-align: center !important;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 390px) {
  .cart {
    padding: 15px;
  }
}
